# Exclude node modules and other development files
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Don't exclude the dist directory
!dist/
!dist/*

# Exclude source files that aren't needed in the final image
src
.git
.github
.vscode
.idea 